<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microweb con Node</title>
</head>

<body>
    <header class="page-header">
        <nav class="main-menu">
            <ul class="links-list">
                <li><a href="/home">Inicio</a></li>
                <li><a href="/about">Sobre nosotros</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section class="content-section">
            <div class="section-title">